<!doctype html>
<html lang="en">
<head>
  <title>SSE Demo</title>
  <style>
    pre {
      font: 16px 'Microsoft YaHei UI';
      color: #394150;
      line-height: 28px;
      white-space: pre-wrap;
    }
  </style>
</head>

<body>
<div style="margin: 0 auto; width: 500px;">
  <div>页面加载后自动打开 SSE，页面刷新/关闭后自动关闭 SSE</div>
  <button onclick="test()" style="margin-top: 20px;">触发服务端主动推送</button>
  <pre id="results"></pre>
</div>
</body>
</html>

<script>
  // const clientId = Date.now().toString()
  const clientId = '101'
  console.log('clientId', clientId)
  const sseSource = new EventSource(`http://127.0.0.1:8080/sse/open/${clientId}`)
  const results = document.getElementById('results')
  console.log(sseSource)

  // 在与事件源的连接打开时触发
  sseSource.onopen = function () {
    console.log("连接打开")
  }

  // 在事件源连接未能打开时触发
  sseSource.onerror = function (err) {
    console.log("连接错误:", err)
  }

  // 在从事件源接收到数据时触发
  sseSource.onmessage = function (e) {
    console.log('onmessage:', e)
    results.innerHTML += e.data
  }

  function test() {
    results.innerHTML = ''

    fetch(`http://127.0.0.1:8080/sse/test?clientId=${clientId}`)
      .then(resp => {
        return resp
      })
      .then(data => {
        console.log(data)
      })
  }

  function close() {
    fetch(`http://127.0.0.1:8080/sse/close?clientId=${clientId}`)
      .then(resp => {
        return resp
      })
      .then(data => {
        console.log('sseClose:', data)
        sseSource.close()
      })
  }

  window.onbeforeunload = function () {
    close()
  }

</script>
