<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.pcdd.mybatis.mapper.ArticlesMapper">

    <resultMap id="articleMap" type="articles">
        <id property="articleId" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <!-- 多对一关系：一篇文章只有一个作者 -->
        <association property="author" javaType="authors">
            <id column="author_id" property="authorId"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <!-- 多对一 ：查询某作者的所有文章，以及作者信息-->
    <select id="findByManyToOne" resultMap="articleMap">
        select *
        from articles t1
        right join authors t2 on t1.author_id = t2.author_id
        <where>
            <if test="id != null">
                t1.author_id = #{authorId}
            </if>
        </where>
    </select>

</mapper>
