<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.pcdd.mybatis.mapper.AuthorsMapper">

    <resultMap id="authorMap" type="authors">
        <id property="authorId" column="author_id"/>
        <result property="name" column="name"/>
        <!-- 一对多关系：一个作者可以有多篇文章 -->
        <collection property="articles" ofType="articles">
            <id property="articleId" column="article_id"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
        </collection>
    </resultMap>

    <!-- 一对多：查询某作者及其所有文章 -->
    <select id="find" resultMap="authorMap">
        select *
        from authors t1,
        articles t2
        where t1.author_id = t2.author_id
        <if test="id!=null">
            and t1.author_id = #{id}
        </if>
    </select>

</mapper>
